body{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    text-align: center;
}
.App{
    margin-bottom: 10vh;
}
button{
    width:30vw;
    height:10vh;
    min-height:25px;
    margin-top:5vh;
    font-size:1em;
    font-weight:bold;
    color:#202020;
    background-color:#FFFFFF;
}